@font-face {
  font-family: sf-pro;
  src: url(assets/sf-pro-fonts/regular.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sf-pro;
}

:root {
  --footer-color: gray;
  --footer-margin: 5px;
  --app-icon-size: 70px;
  --app-name-height: 20px;
}

html {
  overflow: hidden;
}

body {
  height: 100dvh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  justify-items: center;

  display: grid;
  grid-template-rows: 1fr min-content;
}

#appsContainer {
  margin: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, var(--app-icon-size));
  grid-template-rows: repeat(5, calc(var(--app-icon-size) + var(--app-name-height)));
  justify-content: space-evenly;
  align-content: space-evenly;
}

.app {
  display: grid;
  width: var(--app-icon-size);
  height: calc(var(--app-icon-size) + var(--app-name-height));
  margin: 10px;

  position: relative;

  justify-items: center;
}

.app_icon {
  width: var(--app-icon-size);
  height: var(--app-icon-size);
  border-radius: 10px;
}

.app_name {
  min-height: var(--app-name-height);
  white-space: nowrap;
  color: white;
  text-align: center;
  font-size: 13px;

  position: absolute;
  bottom: 0;
}

footer {
  height: min-content;
  width: 85%;
  padding: 10px;
  margin: 20px;
  background-color: color-mix(in srgb, var(--footer-color) 40%, transparent);
  border-radius: 15px;

  display: grid;
  grid-auto-columns: var(--app-icon-size);
  grid-template-rows: calc(var(--app-icon-size));
  grid-auto-flow: row;
  justify-content: center;
}

#navigationPill {
  width: 150px;
  height: 5px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  bottom: 7.5px;
  margin: auto;
  left: 0;
  right: 0;
}

.appContent {
  width: 100%;
  height: 100%;
}

#stretches {
  background-color: black;
  padding: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100dvh;
}

#stretches>h1 {
  color: white;
}

#timers_container {
  overflow: scroll;
  display: grid;
  grid-auto-rows: min-content;
  width: 100%;
  height: 100%;
}

.timer {
  width: 100%;
  height: 100px;
  border-top: 1px solid gray;

  padding-left: 10px;
  padding-right: 10px;

  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content;
  align-content: center;
  color: gray;
}

.timer:last-child {
  border-bottom: 1px solid gray;
}

.timer>.timer_time {
  grid-column: 1;
  grid-row: 1;
  font-size: 45px;
}

.timer>.timer_name {
  grid-column: 1;
  grid-row: 2;
  font-size: 13px;
}

.timer>button {
  grid-column: 2;
  grid-row: 1 / 3;
  width: 70px;
  border: none;
  background-color: green;
  border-radius: 100%;
  aspect-ratio: 1/1;
  align-self: center;
  display: grid;
  cursor: pointer;

  >img {
    width: 40px;
    aspect-ratio: 1/1;
    justify-self: center;
    align-self: center;
  }
}

.timer>button.active {
  background-color: black;
  border: 5px solid orange;
}

.timer>button.inactive {
  background-color: gray;
}

.timer>button.paused {
  >img {
    margin-left: 7px;
  }
}
